@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}
#parent-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    gap: 3%;
}

#about-pic {
    width: 100%;
    border-radius: 8px;
    height: 100%;
   
    
}

.tint {
    position: relative;
    margin-top: 30%;
    height: 100%;
    
    
    
    
}

.tint::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 86, 226, 0.2);
    z-index: 1;
    pointer-events: none;
    border-radius: 8px;

}




.info {
    border-radius: 8px;
    border: 2px solid rgb(156, 86, 226);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    width: 70%;
    height: 75%;
    
    
}
#about-title {
    font-family: 'VT323';
    display: flex;
    flex-direction: row;
    gap: 1%;
    font-size: 200%;
    margin-bottom: 6%;
}

/*media queries*/
@media (max-width: 768px) {
    #parent-1 {
        display: flex;
        flex-direction: column-reverse;
    }
    #about-pic {
        width: 100%;
    }
.info {
    width: 80%;
    padding-bottom: 20%;
    padding-top: 5%;
}
    
   
}

@media (max-width: 576px) {
    
    #parent-1 {
        display: flex;
        flex-direction: column-reverse;
    }
    #about-pic {
        width: 100%;
    }
    .info {
        width: 80%;
        padding-bottom: 20%;
        padding-top:  5%;
    }


}


