@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}
.name {
    font-size: 300%;
    font-family: 'VT323';
}

.greeting-name {
    line-height: 0.5;
    font-family: 'VT323';
}

.role {
    font-family: 'VT323';
}

.json-key {
    color: rgb(182, 14, 128);
}

.json-value {
    color: rgb(156, 86, 226);
}

body {
    color: white;
    font-family: 'Ubuntu Mono', monospace; 
    
}

#desc {
    line-height: 2;
    font-size: 120%;
    
}

#selfie {
    height: 60%;
    border-radius: 8px;
    width: 80%;
}

.button {
    border: 1px solid rgb(251, 14, 176);
    background: black;
    color: white;
    border-radius: 8px;
    font-family: 'Ubuntu Mono', monospace;
    padding: 1%;
    margin-top: 5%;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 120%;
    width: 80%;
}

/* flex box */
#level-one-parent {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
margin-left: 5%;
margin-right: 5%;



}

#level-one-child-right {
    flex-wrap: wrap;
    
   
}

#level-one-child-left {
    flex-wrap: wrap;
    width: 50%;
   
    
}




#fiserv {
    font-size: 120%;
}

#full-stack {
    font-size: 120%;
}
#copilot {
    font-size: 120%;
}


.link {
    text-decoration: none;
    
}

.indent-1 {
    margin-left: 2%;
    width: 100%;
}
.indent-2 {
    margin-left: 4%;
}


/*media queries*/
@media (max-width: 768px) {
    .name {
        font-size: 150%;
    }
    
    .greeting-name {
        line-height: 0.5;
    }
    #level-one-child-left {
        margin-top: 5%;
        width: 100%;
        
       }
    #contact-button {
        margin-bottom: 5%;
    }
   
}

@media (max-width: 576px) {
    .name {
        font-size: 150%;
    }
    
    .greeting-name {
        line-height: 0.5;
    }
    #level-one-child-left {
        margin-top: 5%;
        width: 100%;
        margin-bottom: 30%;
       
        
    }
    
    


}


