@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}

.glow:hover {
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8);
}

.ul-nav {
    list-style: none;
    display: flex;  
    justify-content: space-between;
    gap: 4%;
    margin-right: 25%;
    font-size: 125%;
    
}
.nav-button {
    background: none;
    color: white;
    border: none;
    font-size: 130%;
    font-family: 'VT323';
}


#space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#links {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    
}


#purple-star{
    width: 5%;
}


@media (max-width: 768px) {
   .nav-button {
    font-size: 100%;
   }

    
   
}

@media (max-width: 576px) {
   .nav-button {
    font-size: 100%;
   }


}

@media (max-width: 390px) {
    .nav-button {
     font-size: 90%;
    }
 
 }
