.ul-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav-button {
    background: none;
    color: white;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: large;
    font-family: 'VT323', regular;
}

li {
    margin-right: auto;
   
}