/*consistent things*/
body {
    background-color: rgb(43, 4, 77); 
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 5%;
    
}

/*index.html divs flex*/
#home-parent {
    display: flex;

}
#contact-parent {
    display: flex;
}

#about-parent{
    display: flex;

}
#projects-parent {
    display: flex;
}

