/*consistent things*/
body {
    background-color: rgb(43, 4, 77); 
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 5%;
}

/*index.html divs flex*/
#home-parent {
    display: flex;
    flex-direction: column;

}

#home-child-top {

}

#home-child-bottom {
    margin-top: 5%;

}

#contact-parent {
    display: flex;
    flex-direction: column;
}

#contact-child-top {

}

#contact-child-bottom {
    margin-top: 5%;
}

#about-parent{
    display: flex;
    flex-direction: column;

}

#about-child-top {

}

#about-child-bottom {
    margin-top: 5%;
}

#projects-parent {
    display: flex;
    flex-direction: column;
}

#projects-child-top{

}

#projects-child-bottom {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

