.projects-template-column {
    display: flex;
    flex-direction: column;

   
}

.projects-title {
    font-size: 300%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

