@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}
.technologies {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-top: 2%;
    padding: 5%;
    flex-wrap: wrap;
    gap: 1%;

    
}

.logos {
   width: 180px;
   height: 150px;
   margin-bottom: 5%;
   padding: 1%;
}

#html {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(156, 86, 226);
    border-radius: 8px;

    
}
#css {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(156, 86, 226);
    border-radius: 8px;
    
}
#javascript {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(156, 86, 226);
    border-radius: 8px;
   
}
#java {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(156, 86, 226);
    border-radius: 8px;
   
}
#sql {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(156, 86, 226);
    border-radius: 8px;
   
}

/*media queries*/
@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    


}






