.projects-template-column {
    display: flex;
    flex-direction: column;
   

   
}

.projects-title {
    font-size: 300%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'VT323', regular;
}



/*media queries*/
@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    


}




