@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}
.projects-template-column {
    display: flex;
    flex-direction: column;
   

   
}
.line {
    height: 2px;
    background-color:  rgb(156, 86, 226);
    border:rgb(156, 86, 226)
}
.projects-title {
    font-size: 300%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'VT323';
}



/*media queries*/
@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    


}




