@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}

.header-span {
 display: flex;
 flex-direction: row;
 gap: 2%;
 font-size: 250%;
 justify-content: center;
 margin-top: -5%;

}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 200%;
}

.tech-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line {
    height: 2px;
    background-color:  rgb(156, 86, 226);
    border:rgb(156, 86, 226)
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
   
}
.img-desc {
    display: flex;
    flex-direction: row;
    margin-bottom : -10%;
   
}

#img-desc-java {
    margin-right: 50%;
    margin-left: -10%;
    margin-top: -22%;
}

.right{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
   
}
.logos {
   width: 30%;
   height: 50%;
   margin-bottom: 5%;
   padding: 1%;
   margin-top: 3%;
}

#html {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;

    
}
#css {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    
}
#javascript {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 75%;
    margin-top: 10%;
    height: 45%;
   
}
#java {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 150%;
    height: 65%;
    margin-right: 1%;
    
   
}
#sql {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
   
}

/*media queries*/

@media (max-width: 1200px) {
    .header-span {
        font-size: 200%;
       }
    .logos {
        width: 30%;
        height: 50%;
    }
    #javascript {
        width: 75%;
        margin-top: 10%;
        height: 45%;
    }
    #java {
        height: 65%;
        
    }
    #img-desc-java {
        margin-top: -20%;
    }
    
   
}


@media (max-width: 1000px) {
    .header-span {
        font-size: 200%;
       }
    .logos {
        width: 30%;
        height: 50%;
    }
    #javascript {
        width: 75%;
        margin-top: 10%;
        height: 45%;
    }
    #java {
        height: 65%;
        
    }
    #img-desc-java {
        margin-top: -25%;
    }
    
   
}

@media (max-width: 900px){
    .logos {
        height: 50%;
        width: 35%;
    }
       #javascript {
        width: 40%;
        margin-top: 10%;
        height: 70%;
        
    }
    #java {
        height: 70%;
        width: 100%;
        
    }
    #img-desc-java {
        margin-top: 10%;
        
    }
}

@media (max-width: 800px){
    .logos {
        height: 70%;
        width: 35%;
    }
       #javascript {
        width: 35%;
        margin-top: 10%;
        height: 75%;
        
    }
    #java {
        height: 60%;
        width: 100%;
        
    }
    #img-desc-java {
        margin-top: 10%;
        
    }
}

@media (max-width: 700px) {
    .header-span {
        font-size: 150%;
       
       }

       .logos {
        height: 80%;
        width: 35%;
    }
       #javascript {
        width: 35%;
        margin-top: 10%;
        height: 75%;
        
    }
    #java {
        height: 60%;
        width: 100%;
        
    }
    #img-desc-java {
        margin-top: 10%;
        margin-bottom: 5%;
        
    }


}

@media (max-width: 500px){
    .header-span {
        font-size: 120%;
       }
    .technologies {
        flex-direction: column;
    } 

    #javascript {
        background-color: rgb(0, 0, 0);
        border-radius: 8px;
        width: 22%;
        margin-left: 30%;
        margin-right: 3%;
       
    }
    #java {
        background-color: rgb(0, 0, 0);
        border-radius: 8px;
        width: 70%;
        margin-left: 50%;
        margin-bottom: 20%;
        margin-top: 15%;
        
       
    }
    .logos {
        margin-bottom: 5%;
    }
    #img-desc-java {
        margin-bottom: 5%;
        
    }


}

@media (max-width: 395px){
    .header-span{
        font-size: 115%;
    }
}






