.work-experience-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    /*box-shadow: 0 0 50px rgb(182, 14, 128, 0.7); */
    border: 2px solid rgb(156, 86, 226);
    border-radius: 8px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

h1 {
    font-size: 300%;
    padding-top: 5%;
}

h2 {
    font-size: 200%;
}
p {
    font-size: 150%;
}

.bottom-text {
    padding-bottom: 5%;
}

/*media queries*/
@media (max-width: 768px) {
    h1 {
        font-size: 250%;
    }
    h2 {
        font-size: 150;
    }
    .work-experience-column{
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 20%;
        padding-top: 5%;
        margin-bottom: 10%;
        margin-top: 5%;
    }
   
}

@media (max-width: 576px) {
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 100%;
    }


}

