<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>Raquel Cruz | Software Engineer</title>
    <link rel="stylesheet" href="portfolio-styles.css">

</head>

<body>
    <div ng-app="portfolioApp" ng-controller="portfolioController" >
        
<!--HomePage-->
<div ng-if="state === 'home'">
<div>
    <ul class="ul-nav">
        <!-- # for test links- change later-->
        <li><button ng-click="toHome()" class="nav-button">Home</button></li>
        <li><button ng-click="toAbout()" class="nav-button">About</button></li>
        <li><button ng-click="toContact()" class="nav-button">Contact</button></li>
        <li><button ng-click="toProjects()" class="nav-button">Projects</button></li>
    </ul> 
    <div id="level-one-parent">
    <div id="level-one-child-left">
<h1>Hi, I'm Raquel :)</h1>
<h2>Software Engineer</h2>
<p>some text describing me or something</p>
<img id="selfie" src="images/portfolio-selfie.PNG"><br>
<button id="contact-button" ng-click="toContact()">Contact</button>
</div>
<div id="level-one-child-right">
    <p>
        { <br>
            <br>
            <span class="json-key">"author"</span>: <span class="json-value">"Raquel Cruz"</span>, <br>
            <span class="json-key">"username"</span>: <span class="json-value">"@raquelindia"</span>, <br>
            <span class="json-key">"description"</span>: <span class="json-value">"Multiverse Apprentice | Software Engineer"</span>, <br>
            <span class="json-key">"homepage"</span>: <span class="json-value">"angularjs-portfolio.github.io"</span>, <br>
            <span class="json-key">"repository"</span>: { <br>
            <span class="json-key">"type"</span>: <span class="json-value">"Open Source"</span>, <br>
            <span class="json-key">"url"</span>: <span class="json-value">"github.com/raquelindia"</span> <br>
            }, <br>
            <span class="json-key">"engines"</span>: [ <br>
            <span class="json-value">"js"</span>, <br>
            <span class="json-value">"html"</span>, <br>
            <span class="json-value">"css"</span>, <br>
            <span class="json-value">"nodejs"</span>, <br>
            <span class="json-value">"angularjs"</span>, <br>
            <span class="json-value">"java"</span> <br>
            ], <br>
            <span class="json-key">"dependencies"</span>: { <br>
                <span class="json-key">"auth0"</span>: <span class="json-value">"^.3.7.1"</span>, <br>
                <span class="json-key">"express"</span>: <span class="json-value">"^4.18.2"</span>, <br>
                <span class="json-key">"sequelize"</span>: <span class="json-value">"^6.33.0"</span>, <br>
                <span class="json-key">"jest"</span>: <span class="json-value">"^29.7.0"</span>, <br>
                <span class="json-key">"jsonwebtoken"</span>: <span class="json-value">"^9.0.2"</span>, <br>
                <span class="json-key">"nodemon"</span>: <span class="json-value">"^3.0.1"</span>, <br>
                <span class="json-key">"dotenv"</span>: <span class="json-value">"^16.3.1"</span>, <br>
                <span class="json-key">"cors"</span>: <span class="json-value">"^2.8.5"</span>, <br>
                <span class="json-key">"express-openid-connect"</span>: <span class="json-value">"^2.16.0"</span>, <br>
                <span class="json-key">"morgan"</span>: <span class="json-value">"^1.10.0"</span>, <br>
                <span class="json-key">"sqlite3"</span>: <span class="json-value">"^5.1.6"</span> <br>
            }, <br>
            <span class="json-key">"devDependencies"</span>: { <br>
                <span class="json-key">"bubble-tea"</span>: <span class="json-value">"2x a day"</span>, <br>
                <span class="json-key">"music"</span>: <span class="json-value">"dark synthwave"</span>, <br>
                <span class="json-key">"internet"</span>: <span class="json-value">starbucks"</span>, <br>
                <span class="json-key">"editor"</span>: <span class="json-value">"vscode && intellij"</span> <br>
            } <br>
            <br>
        }
    </p>
</div>

</div>
</div>
</div>

    <!--Contact Page-->
    <div ng-if="state === 'contact'">
        <ul class="ul-nav">
            <!-- # for test links- change later-->
            <li><button ng-click="toHome()" class="nav-button">Home</button></li>
            <li><button ng-click="toAbout()" class="nav-button">About</button></li>
            <li><button ng-click="toContact()" class="nav-button">Contact</button></li>
            <li><button ng-click="toProjects()" class="nav-button">Projects</button></li>
        </ul> 
        <h1>Contact</h1>

    </div>
  

    <!--About page-->
    <div ng-if="state === 'about'">
        <ul class="ul-nav">
            <!-- # for test links- change later-->
            <li><button ng-click="toHome()" class="nav-button">Home</button></li>
            <li><button ng-click="toAbout()" class="nav-button">About</button></li>
            <li><button ng-click="toContact()" class="nav-button">Contact</button></li>
            <li><button ng-click="toProjects()" class="nav-button">Projects</button></li>
        </ul> 
        <h1>About</h1>

    </div>
    

    <!--Projects page-->
   <div ng-if="state === 'projects'">
    <ul class="ul-nav">
        <!-- # for test links- change later-->
        <li><button ng-click="toHome()" class="nav-button">Home</button></li>
        <li><button ng-click="toAbout()" class="nav-button">About</button></li>
        <li><button ng-click="toContact()" class="nav-button">Contact</button></li>
        <li><button ng-click="toProjects()" class="nav-button">Projects</button></li>
    </ul> 
    <h1>Projects</h1>

   </div>
 

</div>
</body>
<script>
    var app = angular.module("portfolioApp", []);
    app.controller('portfolioController', function($scope){
       $scope.state = "home"; 

       $scope.toContact = function(){
        $scope.state = "contact";
       };

       $scope.toProjects = function(){
        $scope.state = "projects";
       };
       $scope.toAbout = function(){
        $scope.state = "about";
       }
       $scope.toHome = function(){
        $scope.state = "home";
       }
    })

</script>

</html>
