<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/nav-css.css">
</head>
<body>
<ul class="ul-nav">
    <!-- # for test links- change later-->
    <li><button ng-click="toHome()" ng-style="{'background': 'none'}" class="nav-button"><img ng-style="{'width': '2em'}" id="purple-star"src="images/purple-star.png"></button></li>
    <li><button ng-style="'font-family': 'VT323'" ng-click="toHome()" class="nav-button"><span class="numbers" ng-style="{'color': listColor}">01. </span>Home</button></li>
    <li><button ng-style="'font-family': 'VT323'" ng-click="toAbout()" class="nav-button"><span class="numbers" ng-style="{'color': listColor}">02. </span> About</button></li>
    <li><button ng-style="'font-family': 'VT323'" ng-click="toContact()" class="nav-button"><span class="numbers" ng-style="{'color': listColor}">03. </span> Contact</button></li>
    <li><button ng-style="'font-family': 'VT323'" ng-click="toProjects()" class="nav-button"><span class="numbers" ng-style="{'color': listColor}">04. </span> Projects</button></li>
</ul> 
</body>
</html>