<ul class="ul-nav">
    <!-- # for test links- change later-->
    <li><button ng-style="{'color': listColor}" ng-click="toHome()" class="nav-button">Home</button></li>
    <li><button ng-style="{'color': listColor}" ng-click="toAbout()" class="nav-button">About</button></li>
    <li><button ng-style="{'color': listColor}" ng-click="toContact()" class="nav-button">Contact</button></li>
    <li><button ng-style="{'color': listColor}" ng-click="toProjects()" class="nav-button">Projects</button></li>
</ul> 