/*consistent things*/
* {
    outline: solid 1px red;
}

.ul-nav {
    list-style: none;
}
.nav-button {
    background: none;
    color: white;
    border: none;
}

/*Home Page*/
/* Fonts, colors etc. */
.json-key {
    color: rgb(251, 14, 176);
}
.json-value {
    color: rgb(156, 86, 226);
}
body {
    background-color: rgb(43, 4, 77); 
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    
}

#selfie {
    height: 20%;
    border-radius: 8px;
}

#contact-button {
    border-color: pink;
    background: none;
    color: white;
    border-radius: 8px;
    font-family: 'Ubuntu Mono', monospace;
    padding: 1%;
    margin-top: 5%;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 120%;
}

/* flex box */
#level-one-parent {
display: flex;
justify-content: space-between;
flex-wrap: wrap;



}

#level-one-child-right {
    flex-wrap: wrap;
    
   
}

#level-one-child-left {
    flex-wrap: wrap;
    margin-right: -70%;
    
}



/*keep star animation down here*/
