@font-face {
    font-family: 'VT323';
    src: url('VT323/VT323-Regular.ttf') format('truetype');
}
.projects-template-column {
    display: flex;
    flex-direction: column;
   

   
}
.line {
    height: 2px;
    background-color:  rgb(156, 86, 226);
    border:rgb(156, 86, 226);
    width: 80%;
}

.tech-desc {
    margin-top: 10%;
} 

.projects-title {
    font-size: 400%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 50%;
}

.h1-number {
    font-size: 70%;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title-design {
    display: flex;
    flex-direction: row;

}



/*media queries*/
@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    .projects-title {
        font-size: 270%;
        margin-bottom: 30%;
    }
    


}




