#ship-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#spaceship {
    display: flex;
    flex-direction: row;
   
}

.pixels {
    width: 7px;
    height: 7px;
}

.columns {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .pixels {
        width: 5px;
        height: 5px;
    }
}