#ship-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#spaceship {
    display: flex;
    flex-direction: row;
   
}

.columns {
    display: flex;
    flex-direction: column;
}